<div class="row">
  <div class="col-sm-12">
    <h1>About</h1>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis nulla sodales, accumsan elit in, consectetur diam. Sed eget porttitor purus, sit amet ultrices dolor. Sed lacinia enim mauris, a mollis est dignissim eu. Fusce ac sodales felis, non consequat risus. Quisque non ultrices lectus. Mauris pulvinar rutrum scelerisque. Nunc quis ligula nulla. Vivamus nec leo commodo, porttitor nunc sit amet, efficitur felis. Fusce enim ipsum, placerat sit amet odio sit amet, ullamcorper iaculis arcu. Sed justo mi, euismod at neque interdum, malesuada maximus nisi. Vestibulum sagittis ex est, eu luctus nisi rhoncus sed. In ligula purus, faucibus sed nulla vitae, rhoncus tempus mi. Nulla finibus gravida nisl auctor porttitor. Fusce iaculis dolor est, ac congue sem faucibus et. Ut et porta mi. Morbi tincidunt augue vel erat varius, eget viverra mi cursus.
    </p>
    <p>
      Curabitur tincidunt finibus massa quis luctus. Mauris in ipsum ac ipsum porta pretium. Nulla vehicula tellus ac turpis tincidunt, vitae scelerisque arcu interdum. Aliquam dolor leo, euismod in commodo nec, mollis eu sapien. Suspendisse dui tortor, lacinia vel volutpat vitae, cursus sed sapien. Nunc posuere purus eget molestie tincidunt. Aenean commodo ullamcorper maximus. 
    </p>
  </div>
</div>



<%= link_to 'Home', root_path %>