@import "bootstrap";

body{
  background-color:  #e7e7e7;
}

.navbar{
  font-family: 'Roboto Condensed', sans-serif;
 
  //font-size: 3rem;
}

.navbar-brand{
  float: left;
  font-size: 1.7em;
  text-transform: uppercase; 
  letter-spacing: -1px;
  font-weight: bold;
}
.navbar-nav{
  font-size: 1.4em;
}
.nav-link:hover{
  color: #1772c2 !important;
}

.jumbotron{
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  background-image: url('programming.png');
  background-size: cover;
  height: 600px;
}

#title{
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: -40px;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: #dd5252;
}   

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #585858;
}
footer a:hover{
  color: #222;
}
footer small{
  float: left;
}
footer ul{
  float: right;
  list-style: none;
} 
footer ul li{
  float: left;
  margin-left: 15px;
}

.title_form{
  margin-top: 25px;
}

.article-actions{
  border-top: 1px solid #585858;
  padding-top: 5px;
}
.title_show{
  margin-top: 10px;
  text-align: center;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body{
 
  padding-top: 15px;
  padding-bottom: 15px;
}
.article-meta-details{
  border-top: 1px solid #585858;
  margin-top: 15px;
}

#title-user-page{
  text-align: center;
}

/*
#logo{
  float: left;
  font-size: 1.7em;
  text-transform: uppercase; 
  letter-spacing: -1px;
  font-weight: bold;
  color: #fff;
}*/


