<h1>Listening all categories</h1>

<% @categories.each do |category| %>
  <ul class="list_categories">
    <div class="row">
      <div class="card col-md-4 text-center">
        <li><%= link_to "#{category.name}", category_path(category) %></li>
        <li><small><%= pluralize(category.articles.count, "article") %></small></li>
      </div>
    </div>
  </ul>
<% end %> 
<%= will_paginate %>