<h1><%= "Category: " + @category.name %></h1>
<div class="row">
  <div class="col-sm-12">

    <!-- mostra a opção de editar categoria somente para admin-->
    <% if logged_in? and current_user.admin? %>
      <div class="row">
        <span class="badge"><%= link_to 'Edit category name', edit_category_path(@category) %></span>
      </div>
    <% end %>
   
    <br>

    <%= render 'shared/article', obj: @category_articles %>
  </div>
</div>

 <!--irá paginar todos os artigos da categoria atual-->
<%= will_paginate @category_articles %>