<h1><%= "Category: " + @category.name %></h1>
<div class="row">
  <div class="col-sm-12">
    <%= render 'shared/article', obj: @category_articles %>
  </div>
</div>

 <!--irá paginar todos os artigos da categoria atual-->
<%= will_paginate @category_articles %>